#ribbonToolBar {
	-fx-background-color: linear-gradient(from 0% 50% to 0% 100%, #FFFFFFff 0%, #E5E9EEff 100%);
	-fx-border-color:
		transparent #BDBFC0ff #8B9097ff #BDBFC0ff,
		#5D6C7Aff;
	-fx-border-insets:
		0px,
		0px 1px 0px 1px;
	-fx-border-width:
		0px 1px 1px 1px,
		0px 1px 0px 1px;
	-fx-effect: dropshadow(three-pass-box, #8B9097ff, 4, 0.45, 0, 0);
}
#ribbonTabContentBorder {
	-fx-background-color: transparent;
	-fx-border-color:
		#BDBFC0ff,
		#5D6C7Aff;
	-fx-border-insets:
		0px,
		1px;
	-fx-border-width:
		0px 1px 1px 1px,
		0px 1px 1px 1px;
	-fx-border-radius:
		0px 0px 1px 1px,
		0px 0px 1px 1px;
}
#ribbonTabContentContainer {
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #E9EDF1ff 0%, #D0D5DBff 100%);
	-fx-background-radius: 0px 0px 1px 1px;
}

#ribbonTabFirstEmptyRibbonMarker {
	-fx-ribbon-color-base: #006400ff;
	-fx-background-color: linear-gradient(from 0% 0% to 100% 0%, derive(-fx-ribbon-color-base, 60%), #FFFFFFff);
}

#ribbonTabSecondEmptyRibbonMarker {
	-fx-ribbon-color-base: #006400ff;
	-fx-background-color: linear-gradient(from 0% 0% to 100% 0%, -fx-ribbon-color-base, #FFFFFFff);
}