#ribbonTabPane {
	-fx-background-color: transparent;
	-fx-ribbon-color-base: #006400ff;
}
#ribbonTabPane > .tab-content-area {
	-fx-control-inner-background: transparent;
}
#ribbonTabPane > .tab-header-area {
	-fx-padding: 2px 0px 0px 0px;
}
#ribbonTabPane > .tab-header-area > .tab-header-background {
	-fx-background-color: radial-gradient(center 50% 100%, radius 100%, #FFFFFFe5 10%, #FFFFFF00);
	-fx-background-insets: 0px 0px 2px 1px;
	-fx-border-color:
		#AEB1B1ff,
		linear-gradient(from 0% 0% to 100% 0%, #6B7B84ff 0%, #B6BABFff 5%, #B6BABFff 95%, #6B7B84ff 100%),
		linear-gradient(from 0% 0% to 100% 0%, #B9BBBCff 0%, #F7F7F7ff 10%, #F7F7F7ff 90%, #B9BBBCff 100%);
	-fx-border-width:
		0px 0px 1px 0px,
		0px 0px 1px 0px,
		0px 0px 1px 0px;
	-fx-border-insets:
		0px 0px 0px 0px,
		0px 1px 0px 1px,
		0px 0px 1px 0px;
	-fx-effect: null;
}
#ribbonTabPane > .tab-header-area > .headers-region {
	-fx-min-height: 24px;
	-fx-pref-height: 24px;
	-fx-max-height: 24px;
}
#ribbonTabPane > .tab-header-area > .headers-region > .tab {
	-fx-padding: -1px 11px -1px 11px;
}
#ribbonTabPane > .tab-header-area > .headers-region > .tab > .tab-container > .focus-indicator {
	-fx-border-width: 0px;
}
#ribbonTabPane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
	-fx-font-size: 11px;
}


#ribbonAppTab {
	-fx-background-color:
		derive(-fx-ribbon-color-base, -30%),
		derive(-fx-ribbon-color-base, 30%),
		derive(-fx-ribbon-color-base, 15%),
		derive(-fx-ribbon-color-base, 10%),
		derive(-fx-ribbon-color-base, 5%),
		-fx-ribbon-color-base,
		radial-gradient(center 50% 135%, radius 90%, derive(-fx-ribbon-color-base, 70%) 40%, #FFFFFF00);
	-fx-background-insets:
		0px 2px 1px 1px,
		1px 3px 1px 2px,
		2px 4px 1px 3px,
		3px 5px 1px 4px,
		4px 5px 1px 4px,
		5px 5px 1px 4px,
		1px 3px 1px 2px;
	-fx-background-radius:
		2px 2px 0px 0px,
		1px 1px 0px 0px,
		0px 0px 0px 0px,
		0px 0px 0px 0px,
		1px 1px 0px 0px;
	-fx-border-color:
		transparent,
		transparent;
	-fx-border-insets:
		0px 0px 0px 0px,
		1px 1px 1px 1px;
}
#ribbonAppTab:hover {
	-fx-background-color:
		derive(-fx-ribbon-color-base, -30%),
		derive(-fx-ribbon-color-base, 60%),
		derive(-fx-ribbon-color-base, 15%),
		derive(-fx-ribbon-color-base, 10%),
		derive(-fx-ribbon-color-base, 5%),
		-fx-ribbon-color-base,
		radial-gradient(center 50% 135%, radius 90%, derive(-fx-ribbon-color-base, 90%) 40%, #FFFFFF00);
}
#ribbonAppTab:selected  {
	-fx-background-color:
		derive(-fx-ribbon-color-base, -30%),
		derive(-fx-ribbon-color-base, 25%),
		derive(-fx-ribbon-color-base, 10%),
		-fx-ribbon-color-base,
		radial-gradient(center 50% 135%, radius 90%, derive(-fx-ribbon-color-base, 70%) 40%, #FFFFFF00);
	-fx-background-insets:
		0px 0px 0px 1px,
		1px 1px 0px 2px,
		2px 2px 0px 3px,
		3px 3px 0px 4px,
		1px 1px 0px 2px;
}
#ribbonAppTab:selected:hover  {
	-fx-background-color:
		derive(-fx-ribbon-color-base, -30%),
		derive(-fx-ribbon-color-base, 25%),
		derive(-fx-ribbon-color-base, 10%),
		-fx-ribbon-color-base,
		radial-gradient(center 50% 135%, radius 90%, derive(-fx-ribbon-color-base, 85%) 40%, #FFFFFF00);
}
#ribbonAppTab > .tab-container > .tab-label {
	-fx-text-fill: white;
	-fx-padding: 0px 3px 0px 2px;
}

#ribbonTab {
	-fx-background-color: transparent;
	-fx-background-radius:
		3px 3px 0px 0px,
		2px 2px 0px 0px;
	-fx-border-color:
		transparent,
		transparent;
	-fx-border-insets:
		0px 0px 0px 2px,
		1px 1px 1px 3px;
	-fx-background-insets:
		0px 0px 0px 2px,
		1px 1px 1px 3px;
	-fx-border-radius:
		2px 2px 0px 0px,
		1px 1px 0px 0px;
}
#ribbonTab:hover {
	-fx-border-color:
		#B6BABFff,
		#F9FBFDff;
}
#ribbonTab:selected {
	-fx-background-color:
		#B6BABFff,
		#FFFFFFff;
	-fx-border-color:
		transparent transparent #FFFFFFff transparent,
		transparent;
}
#ribbonTab > .tab-container > .tab-label {
	-fx-text-fill: #3B3B3Bff;
}