#subSelectorTabPane > .tab-content-area {
        -fx-control-inner-background: transparent;
        -fx-background-color: transparent;
}
#subSelectorTabPane > .tab-header-area {
        -fx-padding: 9px 0px 0px 0px;
}
#subSelectorTabPane > .tab-header-area > .tab-header-background {
        -fx-background-color:
                linear-gradient(from 0% 0% to 100% 0%, #BDBEBFff 0%, #DCDDDEff 100%),
                linear-gradient(from 0% 0% to 100% 0%, #E0E3E7ff 0%, #FBFCFDff 100%),
                linear-gradient(from 0% 0% to 0% 100%, #FFFFFF00 97%, #D4D5D688 100%);
        -fx-background-insets:
                0px 0px 0px 0px,
                0px 0px 1px 0px,
                0px 0px 1px 0px;
        -fx-border-width: 0px;
}
#subSelectorTabPane > .tab-header-area > .headers-region {
        -fx-padding: 0px;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab {
        -fx-padding: 0px;
        -fx-background-color: transparent;
        -fx-background-insets: 0px 1px 0px 0px;
        -fx-background-radius: 0px;
        -fx-border-color: transparent;
        -fx-border-width: 1px;
        -fx-border-insets: 0px 1px 0px 0px;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab:hover {
        -fx-background-color: #D4E6F4ff;
        -fx-border-color: transparent #1F82C0ff #C7CACCff #1F82C0ff;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab:selected {
        -fx-background-color:
                linear-gradient(from 0% 0% to 0% 100%, #1F82C0ff 0%, #88BCE2ff 45%, #88BCE2ff 55%, #1F82C0ff 100%),
                linear-gradient(from 0% 0% to 100% 0%, #1F82C0ff 0%, #FFFFFF00 10%, #FFFFFF00 90%, #1F82C0ff 100%);
        -fx-border-color: transparent #00346Bff transparent #00346Bff;
        -fx-background-image: url("subselectionmarker.png");
        -fx-background-repeat: no-repeat;
        -fx-background-position: bottom;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab > .tab-container > .focus-indicator {
        -fx-border-width: 0px;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
        -fx-padding: 0px -48px 0px -52px;
        -fx-text-alignment: left;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label > .text {
        -fx-rotate: 90;
        -fx-font-size: 13px;
}
#subSelectorTabPane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
        -fx-text-fill: #FFFFFFff;
}