
#simpleButton {
	-fx-background-color: transparent;
}
#simpleButton:hover {
	-fx-background-color:
		linear-gradient(from 0% 0% to 0% 100%, #F1CA58ff, #F6D74Aff),
		#FFFFFFeb,
		linear-gradient(from 0% 0% to 0% 100%, #FDEEB3ff, #FDE388ff 15%, #FCE68Dff 87%, #FDFAE0ff 100%);
	-fx-background-insets:
		0px,
		1px,
		2px;
	-fx-background-radius:
		3px,
		3px,
		3px;
}
#simpleButton:pressed {
	-fx-background-color:
		linear-gradient(from 0% 0% to 0% 100%, #C2762Bff, #C29E47ff),
		linear-gradient(from 0% 0% to 0% 100%, #F6C867ff, #FAD77Aff),
		#FFE48Aff;
	-fx-background-insets:
		0px,
		1px,
		2px;
	-fx-background-radius:
		3px,
		3px,
		3px;
}

#simpleButtonText {
	-fx-font-size: 11px;
	-fx-text-alignment: center;
}